@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Team13B<br />
    Singapore 123456<br />
    <abbr title="Phone">P:</abbr>
    6868 8888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:YouWillGetFullSupport@example.com">YouWillGetFullSupport@rocketmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:NoNeedMarketing@example.com">NoNeedMarketing@rocketmail.com</a>
</address>