
@{
    ViewBag.Title = "GalleryView";
}

@using _13AShopCart.Models;

<h2>GalleryView</h2>

@{
    List<Product> list = (List<Product>)ViewData["products"];
}

<table>
    <tr>
        <td></td>
    </tr>

</table>
