
@{
    ViewBag.Title = "GalleryView";
}

@using _13AShopCart.Models;

<h2>GalleryView</h2>

@{
    List<Product> products = (List<Product>) ViewData["products"];
    double itemCount = (double) ViewData["itemCount"];
    double rows = (double)ViewData["rows"];


    <table>
        @for (int i = 1; i <= rows; i++)
        {
            int k = (i - 1) * 3;
            <tr>
                @for (int j = k; j < (k + 3); j++)
                {
                    <td>
                        @if (j < itemCount)
                        {
                            <p align="center" style="font-weight: bold" >@products[j].Name</p>
                            <p>@products[j].Description</p>
                            <p align="center">@products[j].Price</p>
                            <p align="center"><input type="button" value="Add to Cart" onclick="location.href='@Url.Action("Gallery", "Add")'" /></p>
                        }

                        else
                        { break; }
                    </td>
                }
            </tr>
        }

    </table>

    <style>
        th tr td {padding:10px}
    </style>

}